<div class="row">
  <h4 class="col-12 col-md-9 col-xxl-10">{{title}}</h4>
  <div class="col-12 col-md-3 col-xxl-2">
    <div class="paginador">
      <label for="pageSizeSelect">Mostrando</label>
      <select id="pageSizeSelect" class="form-select form-control mx-2" [(ngModel)]="pageSize" >
        <option [value]="5">5</option>
        <option [value]="10">10</option>
        <option [value]="20">20</option>
        <option [value]="50">50</option>
        <!-- Agrega más opciones según tus necesidades -->
      </select>
      <label for="pageSizeSelect">de {{ data.length }}</label>
    </div>
</div>
</div>
<div class="table-responsive" *ngIf="!sizeScreen">
  <table class="table table-hover custom-table table-bordered table-striped" >
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" *ngFor="let column of columns">{{column.name}}</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data | slice : (page - 1) * pageSize : (page - 1) * pageSize + pageSize;let i = index">
          <td scope="row">{{i}}</td>
          <td *ngFor="let column of columns">{{item[column.id]}}</td>
          <td>
            <div class="d-flex">
                <a href="javascript:void(0)" *ngIf="actions.play" class="mx-3" (click)="playData(item)"><img src="assets/icons/play-fill.svg" alt=""></a>
                <a href="javascript:void(0)" *ngIf="actions.show" class="mx-3" (click)="sendData(item)"><img src="assets/icons/eye-fill.svg" alt=""></a>
                <a href="javascript:void(0)" *ngIf="actions.del" class="mx-3" (click)="confirmDelete(item)"><img src="assets/icons/trash-fill.svg" alt=""></a>
            </div>
          </td>
        </tr>
        
      </tbody>
  </table>
  
</div>
<div class="container-table-responsive" *ngIf="sizeScreen">
  <div class="table-row-card my-1" *ngFor="let item of data | slice : (page - 1) * pageSize : (page - 1) * pageSize + pageSize;let i = index">
    <div class="t-columns">
      <span class="title-card">#</span>
      <span class="title-card" *ngFor="let column of columns">{{column.name}}</span>
      <span class="title-card">Acciones</span>
    </div>
    <div class="t-columns-end">
      <span >{{i}}</span>
      <span *ngFor="let column of columns" >{{containDescription(item,column)}}</span>
      <span>
        <div class="d-flex">
            <a href="javascript:void(0)" *ngIf="actions.play"  (click)="playData(item)"><img src="assets/icons/play-fill.svg" alt=""></a>
            <a href="javascript:void(0)" *ngIf="actions.show"  (click)="sendData(item)"><img src="assets/icons/eye-fill.svg" alt=""></a>
            <a href="javascript:void(0)" *ngIf="actions.del"  (click)="confirmDelete(item)"><img src="assets/icons/trash-fill.svg" alt=""></a>
        </div>
      </span>
    </div>
  </div>

</div>
<div *ngIf="data.length==0" class="no-data my-2"><span>No hay datos</span></div>
<div class="d-flex justify-content-center">
  <ngb-pagination class="min-amb-pagination pt-3"
    [collectionSize]="data.length" [pageSize]="pageSize" [(page)]="page" [maxSize]="3" [rotate]="true"
    [ellipses]="true" [boundaryLinks]="false" [size]="'sm'">
    <ng-template ngbPaginationPrevious><span class="min-amb-pagination__btn-anterior"></span>Anterior</ng-template>
    <ng-template ngbPaginationNext>Siguiente</ng-template>
  </ngb-pagination>
</div>




<button id="btn-confirm-delete" type="button" class="btn btn-primary visually-hidden" data-bs-toggle="modal" data-bs-target="#confirmModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <img src="assets/icons/info-circle-fill.svg" alt="" class="mx-2" width="25">
        <h5 class="modal-title" id="confirmModalModalLabel">Aviso</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Estas seguro de realizar esta acción?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-principal"  data-bs-dismiss="modal" (click)="deleteData()">Aceptar</button>
      </div>
    </div>
  </div>
</div>
  
