
<div class="container-home">
    <div class="row">
        <div class="col-12">
            <p class="info-principal"><b>Helping trader</b> es una aplicación web diseñada para ayudarte a mejorar tus habilidades de trading, gestionar tus estrategias y optimizar tus ganancias en los mercados financieros. Con <b>Helping trader</b>, puedes configurar fácilmente tus estrategias de trading, mantener un diario detallado de tus operaciones, analizar tus estadísticas de rendimiento y recibir retroalimentación personalizada para fortalecer tu psicología de trading. </p>
        </div>
        
        <h3 class="col-12 mt-3 title-steps">4 pasos para mejorar tu trading</h3>
        
        <div class="col-12 col-lg-6 col-xxl-3 ">
            <app-category-card [path]="'/estrategias'" [image]="'assets/images/ilustracion_estrategias.svg'" [title]="'Gestiona tus estrategias'" [description]="'Esta sección está diseñada para ayudarte a llevar un control exhaustivo y organizado de tus estrategias de inversión. Registrar meticulosamente tus tácticas te brindará información clave para optimizar tu rendimiento como inversor y alcanzar tus metas financieras.'"></app-category-card>
        </div>
        <div class="col-12 col-lg-6 col-xxl-3 ">
            <app-category-card [path]="'/operaciones'" [image]="'assets/images/ilustracion_operaciones.jpg'" [title]="'Registra tus operaciones'" [description]="'Esta área está pensada para que lleves un seguimiento riguroso y ordenado de tus movimientos en el mercado. Al documentar cuidadosamente cada operación, obtendrás valiosas percepciones que te ayudarán a mejorar tu desempeño y alcanzar tus metas financieras.'"></app-category-card>
        </div>
        <div class="col-12 col-lg-6 col-xxl-3  ">
            <app-category-card [path]="'/dashboard'" [image]="'assets/images/ilustracion_dashboard.jpg'" [title]="'Analiza tus operaciones'" [description]="'Este espacio te presenta indicadores específicos para conocer tus niveles de disciplina, acertividad, objetivo de ganacia y algunas estadisticas de tus opereaciones realizadas.'"></app-category-card>
        </div>
        <div class="col-12 col-lg-6 col-xxl-3  ">
            <app-category-card [path]="'/retroalimentacion'" [image]="'assets/images/ilustracion_feedback.jpg'" [title]="'Retroalimentación'" [description]="'Tentrás la posibilidad de agregar notas y recibir retroalimentación automática o manualmente. Este sistema facilita un aprendizaje estructurado y personalizado, mejorando la retención de información y adaptándose a las necesidades individuales de estudio.'"></app-category-card> 
        </div>
    </div>
</div>