<table class="table table-responsive table-hover table-striped custom-table" *ngIf="data.length>0">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" *ngIf="data[0].note!=''">Nota</th>
      <th scope="col" *ngIf="data[0].question!=''">Pregunta</th>
      <th scope="col" *ngIf="data[0].answer!=''">Respuesta</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data | slice : (page - 1) * pageSize : (page - 1) * pageSize + pageSize">
      <td scope="row">{{item.id}}</td>
      <td *ngIf="item.note!=''"><textarea class="w-100 form-control" rows="2" [(ngModel)]="item.note" ></textarea></td>
      <td *ngIf="item.question!=''"><textarea class="w-100 form-control" rows="2" [(ngModel)]="item.question" ></textarea></td>
      <td *ngIf="item.answer!=''"><textarea class="w-100 form-control" rows="2" [(ngModel)]="item.answer" ></textarea></td>
      <td style="width: 5%;">
        <div class="mt-3">
            <a href="javascript:void(0)" (click)="deleteData(item)"><img src="assets/icons/trash-fill.svg" alt=""></a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="data.length==0" class="no-data my-2"><span>No hay datos</span></div>
<div class="d-flex justify-content-center">
  <ngb-pagination class="pt-3"
    [collectionSize]="data.length" [pageSize]="pageSize" [(page)]="page" [maxSize]="3" [rotate]="true"
    [ellipses]="true" [boundaryLinks]="false" [size]="'sm'">
    <ng-template ngbPaginationPrevious><span class=""></span>Anterior</ng-template>
    <ng-template ngbPaginationNext>Siguiente</ng-template>
  </ngb-pagination>
</div>
