<div class="container-footer">
    <div class="container">
        <div class="row col-12 elements-footer justify-content-around">
            <div class="col-12 col-md-4 d-flex flex-column align-items-center mt-4">
                <img src="assets/icons/envelope-paper-fill.svg" alt="" width="25" class="mb-3">
                <span>Email</span>
                <span>coswell18@hotmail.com</span>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column align-items-center mt-4">
                <img src="assets/icons/telephone-fill.svg" alt="" width="25" class="mb-3">
                <span>Teléfono</span>
                <span>+57315775121</span>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column align-items-center mt-4">
                <img src="assets/icons/geo-alt-fill.svg" alt="" width="25" class="mb-3">
                <span>Ubicación</span>
                <a href="https://maps.app.goo.gl/EHM6S6egSgcxpwY19" target="_blank">
                    Colombia - Caldas - Manizales
                </a>
            </div>
        </div>
        <div class="row py-3">
            <hr>
        </div>
        <div class="row">
            <span>© 2024 HelpingTrader.</span>
        </div>

    </div>
</div>
