.container-footer{
    background-color: #4B4B4B;
    color: #ffffffb7 !important;
    text-align: center;
    padding: 1.875rem;
    font-size: 0.875rem;
    font-family: Work Sans,sans-serif;

    .elements-footer{
        padding: 0.625rem;
        
        a,span{
            color: #ffffffb7;
        }
    }
    span{
        color: #ffffffb7;
    }

}