<div class="row container-login justify-content-center">
    <div class="row col-12 col-xl-6 first-section p-5 align-items-center">
        <div class="login">
            <div class="row justify-content-center mb-5">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="assets/images/logo6.png" alt="">
                    <h1 class="mx-3">Helping Trader</h1>
                </div>
            </div>
            <div class="row justify-content-center my-5 my-md-2 my-xxl-5">
                <h2 class="text-center">Inicia sesión</h2>
            </div>
            <div class="row justify-content-center p-xl-5">
                <div class="col-12 col-xl-10 ">
                    <div class="form-floating mb-5">
                        <input type="text" id="username" name="username" class="form-control" placeholder="" [(ngModel)]="email" required>
                        <label for="username" class="form-label">Usuario:</label>
                    </div>
                </div>
                <div class="col-12 col-xl-10 ">
                    <div class="form-floating mb-5">
                        <input type="password"  class="form-control" id="password" placeholder="" [(ngModel)]="password" required>
                        <label for="password">Contraseña:</label>
                    </div>
                </div>
                <div class="col-12 col-xl-10 my-5 my-md-1 my-xxl-5">
                    <button type="submit" class="btn btn-principal w-100" (click)="login()">Ingresar</button>
                </div>
                <div class="d-flex align-items-center flex-column col-12 col-xl-10 my-2 my-md-1 my-xxl-2">
                    <span>¿Aún no tienes cuenta?</span>
                    <a href="/registrarse">!Regístrate¡</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-6 second-section">
        <div class="container-image d-flex justify-content-center align-items-center">
            <img src="assets/images/login3.png" alt="">
        </div>
    </div>
</div>

<app-modal-message [message]="message"></app-modal-message>
  
